; https://editorconfig.org/
root = true
; Primarily to fix the tab width of GitHub

[{go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
indent_size = 4

[*.json]
indent_style = space
indent_size = 2
