services:
  postgres:
    image: postgres:15.0-bullseye
    ports:
      - '127.0.0.1:20001:5432'
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: test_db
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d test_db" ]
      interval: 10s
      timeout: 5s
      retries: 5
  mongo:
    image: mongodb/mongodb-community-server:8.2.1-ubi8
    ports:
      - '127.0.0.1:20002:27017'
    environment:
      MONGODB_INITDB_ROOT_USERNAME: admin
      MONGODB_INITDB_ROOT_PASSWORD: admin
    healthcheck:
      test: [ "CMD-SHELL", "echo 'db.runCommand({ ping: 1 })' | mongosh mongodb://localhost:27017/test_db --quiet" ]
      interval: 10s
      timeout: 5s
      retries: 5

  elasticsearch:
    image: elasticsearch:7.17.25
    ports:
      - '127.0.0.1:20003:9200'
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: "-Xms1024m -Xmx1024m"
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:9200/_cat/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

